{% extends "main.html" %} {% block content %}
<main id="languages">
  <div id="langList">
    <ul>
      <li><a href="">Tamil</a></li>
      <li id="langEng" style="color: white"><a href="/pin">English</a></li>
      <li><a href="">Malayalam</a></li>
    </ul>
    <ul>
      <li><a href="">Telugu</a></li>
      <li><a href="">Kanada</a></li>
      <li><a href="">Marathi</a></li>
    </ul>
  </div>
  <div id="langFoot">
    <p>Only English language is availabe right now</p>
    <h4>Sorry for the inconvience</h4>
  </div>
</main>
{% endblock content %}
