<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services Page</title>
  </head>
  <body>
    <header>Services Page</header>
    <main>
      <div>
        <ul>
          <li><a href="/deposit">Deposit</a></li>
          <li><a href="/withdraw">Withdraw</a></li>
          <li><a href="/transfer">Transfer</a></li>
        </ul>
        <ul>
          <li><a href="/balance">Balance</a></li>
          <li><a href="/pinChange">Change PIN</a></li>
          <li><a href="/exit">Exit</a></li>
        </ul>
      </div>
    </main>
  </body>
</html>
