<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Check Balance</title>
  </head>
  <body>
    <header>Check Balance Page</header>
    <main>
      <div>Show Balance</div>
      <div>
        <a href="miniStatment/"><div>mini statement</div></a>
        <a href="/services"><div>continue banking</div></a>
        <a href="/exit">
          <div>exit</div>
        </a>
      </div>
    </main>
  </body>
</html>
