{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chennai</title>

    <link rel="stylesheet" href="{%  static 'css/style.css' %}" />
  </head>
  <body>
    <section class="city-grid">
      <!-- CHENNAI -->
      <div class="city-card">
        <div
          class="city-image"
          style="
            background-image: url(&quot;https://images.unsplash.com/photo-1582510003544-4d00b7f74220?auto=format&fit=crop&w=600&q=80&quot;);
          "
        ></div>
        <div class="city-details">
          <h2>Chennai</h2>
          <h4>The Gateway to the South</h4>
          <p>
            Located on the Coromandel Coast of the Bay of Bengal, Chennai is the
            capital of Tamil Nadu. It is a vibrant metropolis that effortlessly
            balances its deep-rooted cultural heritage and classical traditions
            with a booming modern economy and automobile industry.
          </p>
          <strong>Key Attractions:</strong>
          <ul class="spots-list">
            <li>
              <strong>Marina Beach:</strong> The longest natural urban beach in
              the country.
            </li>
            <li>
              <strong>Kapaleeshwarar Temple:</strong> A stunning 7th-century
              Dravidian temple dedicated to Lord Shiva.
            </li>
            <li>
              <strong>San Thome Basilica:</strong> A beautiful neo-Gothic
              cathedral built over the tomb of St. Thomas.
            </li>
            <li>
              <strong>Mahabalipuram:</strong> Located just an hour away,
              featuring UNESCO World Heritage rock-cut monuments.
            </li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
