<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pin Change Page</title>
  </head>
  <body>
    <header>
      <div>pin change page</div>
    </header>
    <main>
      <div>
        <form action="">
          <label for="oldPin">Old pin</label>
          <input type="number" name="oldPin" id="oldPin" />
          <label for="newPin">New pin</label>
          <input type="number" name="newPin" id="newPin" />
          <label for="cnfPin">Confirm pin</label>
          <input type="number" name="cnfPin" id="cnfPin" />
        </form>
        <a href="pinChangeSuccess/">submit</a>
      </div>
    </main>
  </body>
</html>
