<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <a href="/home/">home</a>
    <form action="" method="POST">
      {% csrf_token %}
      <label for="username">Name:</label>
      <input type="text" name="username" id="username" />
      <label for="useremail">Email:</label>
      <input type="email" name="useremail" id="useremail" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
