<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome page</title>
  </head>
  <body>
    <nav>Bank</nav>
    <main>
      <h1>Welcome</h1>
      <div>
        <ul>
          <li><a href="#">Insert Card</a></li>
          <li><a href="/language">Enter Credential</a></li>
        </ul>
      </div>
    </main>
    <footer>
        <p>Insert card feature is not availabe right now.</p>
        <h4>Sorry for the inconvience !</h4>
    </footer>
  </body>
</html>
