<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select Language Page</title>
  </head>
  <body>
    <header>Bank</header>
    <main>
      <div>
        <ul>
          <li><a href="#">Tamil</a></li>
          <li><a href="/pin">English</a></li>
          <li><a href="#">Malayalam</a></li>
        </ul>
        <ul>
          <li><a href="#">Telugu</a></li>
          <li><a href="#">Kanada</a></li>
          <li><a href="#">Marathi</a></li>
        </ul>
      </div>
    </main>
    <footer>
      <p>Only English language is availabe right now</p>
      <h4>Sorry for the inconvience</h4>
    </footer>
  </body>
</html>
