<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deposit Page</title>
  </head>
  <body>
    <header>Deposit page</header>
    <main>
      <form action="">
        <label for="">Enter Account No.</label><input type="number" />
        <label for="">Enter Name</label>
        <input type="text" />
      </form>
      <a href="depositSuccess/"><div>submit</div></a>
    </main>
  </body>
</html>
