<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transfer Success Page</title>
  </head>
  <body>
    <header>Transfer success Page</header>
    <main>
      <div>Transfer success</div>
      <div>
        <a href=""><div>check balance</div></a>
        <a href="/services"><div>continue banking</div></a>
        <a href="/exit"><div>exit</div></a>
      </div>
    </main>
  </body>
</html>
